* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
}
li{
    list-style: none;
}
.wrap{
    padding:  0 50px;
}
.menu_tit{
    margin: 50px 0 ;
    text-align: center;
    font-size: 25px;    
    letter-spacing: 10px;
}

.item_wrap{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.item_box{
    width: calc(20% - 36px);
    margin-left: 30px;
    margin-bottom: 50px;
}
.item_box:nth-child(5n){
    margin-right: 30px;
}
.item_box img{
    width: 100%;
    border-radius: 20px;
    transition: .8s;
}
.item_title{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    min-height: 55px;
}

.price_wrap {
    text-align: center;
    font-size: 18px;
    min-height: 40px;
    display: flex;
}

.price_wrap div{
 width: 33.3333%;
}

.item_price{
}
.item_sale{
    color: #2fcab0;
    font-weight: bold;
}
.item_price.line{
    text-decoration: line-through;
}
.item_img{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.item_img:hover .hover_wish{
    opacity: 1;
}
.item_img:hover img{
    transform: scale(1.2);
}
.hover_wish{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #62d8d4;
    border-radius: 0 0 20px 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 10px;
    opacity: 0;
    transition: .5s;
}
.item_wish{
    width: 100%;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
    margin-top: 10px;
    border-radius: 30px;
    /* color: #fff; */
    /* background-color: #62d8d4; */
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc ;
}
.item_wish:hover{
    border: 0;
}
.item_wish:hover::before{
    width: 100%;
    opacity: 1;
}
.item_wish:hover span{
    color: #fff;
}
.item_wish::before{
    content: '';
    width: 0%;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2fcab0;
    z-index: 1;
    border-radius: 30px;
    transition: .5s;
    opacity: 0;
}
.item_wish span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
    transition: .3s;
}




/**********detail**********/
.wrapping{
    width: 1280px;
    margin: 0 auto;
}
.detail_wrap{
    display: flex;
    margin-top: 100px;
}
.detail_left{
    width: 49%;
    margin-right: 2%;
    padding: 40px;
}
.detail_img{
    overflow: hidden;
    border-radius: 20px;

}
.detail_left img{
    width: 100%;
    border-radius: 20px;
    transform: scale(1.15);
    transition: .8s;
}
.detail_left:hover img {
    transform: scale(1);
}
.detail_right{
    width: 49%;
    padding: 40px;
}
.detail_cate{
    width: 60px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    background-color: #62d8d4;
    color: #fff;
    line-height: 25px;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.detail_tit{
    font-size: 30px;
    text-align: center;
}
.detail_tag_wrap{
    text-align: center;
    margin-top: 20px;

}
.detail_tag_wrap span{
    width: 70px;
    height: 25px;
    border: 1px solid #62d8d4;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    margin-right: 20px;
    border-radius: 20px;
}
.detail_tag_wrap span:last-child{
    margin-right: 0;
}
.price_wrapper{
    display: flex;
    margin-top: 50px;
    font-size: 22px;
    border-bottom: 2px solid #62d8d4;
}
.price_wrapper div{
    width: 33.3333%;
    text-align: center;
    padding-bottom: 10px;
}
.price_wrapper div:last-child{
    margin-right: 0;
}

.btn_wrap{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 28px;
}   

.total_price{
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.delivery_wrap{
    margin-top: 50px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.delivery_wrap span:first-child{
    font-weight: bold;
}
.free{
    font-size: 14px;
    color: #777;
}